#page-title {
    font-family: 'Shadows Into Light', cursive;
    color: #6a8255;
}

#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#overlay {
    position: relative;
    padding: 50px;
}

html, body {
    margin: 0;
    height: 100%;
    background: #f6f1eb;
}

.modal-body {
    background: #f6f1eb;
    color: #6a8255;
}

.form-control, input, textarea {
    color: #6a8255;
}

.form-control:focus, input:focus, textarea:focus {
    color: #6a8255;
}

ul.nav li a, ul.nav li a:visited {
    color: #6a8255 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #6a8255 !important;
}

ul.nav li.active a {
    color: #6a8255 !important;
}

a {
    color: #6a8255 !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #6a8255 !important;
    color: #f6f1eb !important;
}

.btn-primary:hover {
    background-color: #92b474 !important;
}

.btn, .btn:active, .btn:visited {
    background-color: #6a8255 !important;
    color: #f6f1eb !important;
}

.btn:hover {
    background-color: #92b474 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.btn:focus {
    box-shadow: none;
}

